@model HBDP.Models.Output.Income

<h4>Income</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Income">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="O2_HeatCapacity" class="control-label"></label>
                <input asp-for="O2_HeatCapacity" class="form-control" />
                <span asp-validation-for="O2_HeatCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="N2_HeatCapacity" class="control-label"></label>
                <input asp-for="N2_HeatCapacity" class="form-control" />
                <span asp-validation-for="N2_HeatCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="H2O_HeatCapacity" class="control-label"></label>
                <input asp-for="H2O_HeatCapacity" class="form-control" />
                <span asp-validation-for="H2O_HeatCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CokeHeat" class="control-label"></label>
                <input asp-for="CokeHeat" class="form-control" />
                <span asp-validation-for="CokeHeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CokeHeatPercent" class="control-label"></label>
                <input asp-for="CokeHeatPercent" class="form-control" />
                <span asp-validation-for="CokeHeatPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirHeat" class="control-label"></label>
                <input asp-for="AirHeat" class="form-control" />
                <span asp-validation-for="AirHeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirHeatPercent" class="control-label"></label>
                <input asp-for="AirHeatPercent" class="form-control" />
                <span asp-validation-for="AirHeatPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasHeat" class="control-label"></label>
                <input asp-for="GasHeat" class="form-control" />
                <span asp-validation-for="GasHeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasHeatPercent" class="control-label"></label>
                <input asp-for="GasHeatPercent" class="form-control" />
                <span asp-validation-for="GasHeatPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlagHeat" class="control-label"></label>
                <input asp-for="SlagHeat" class="form-control" />
                <span asp-validation-for="SlagHeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlagHeatPercent" class="control-label"></label>
                <input asp-for="SlagHeatPercent" class="form-control" />
                <span asp-validation-for="SlagHeatPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumPercent" class="control-label"></label>
                <input asp-for="SumPercent" class="form-control" />
                <span asp-validation-for="SumPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
