@model HBDP.Models.Input.PigIron

<h4>Чугун</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_PigIron">
            <h5>Содержание элементов в чугуне:</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Si" class="control-label">Кремний</label>
                <input asp-for="Si" class="form-control" />
                <span asp-validation-for="Si" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mn" class="control-label"></label>
                <input asp-for="Mn" class="form-control" />
                <span asp-validation-for="Mn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S" class="control-label"></label>
                <input asp-for="S" class="form-control" />
                <span asp-validation-for="S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P" class="control-label"></label>
                <input asp-for="P" class="form-control" />
                <span asp-validation-for="P" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ti" class="control-label"></label>
                <input asp-for="Ti" class="form-control" />
                <span asp-validation-for="Ti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cr" class="control-label"></label>
                <input asp-for="Cr" class="form-control" />
                <span asp-validation-for="Cr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="V" class="control-label"></label>
                <input asp-for="V" class="form-control" />
                <span asp-validation-for="V" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C" class="control-label"></label>
                <input asp-for="C" class="form-control" />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatCapacity" class="control-label"></label>
                <input asp-for="HeatCapacity" class="form-control" />
                <span asp-validation-for="HeatCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fe" class="control-label"></label>
                <input asp-for="Fe" class="form-control" />
                <span asp-validation-for="Fe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbon" class="control-label"></label>
                <input asp-for="Carbon" class="form-control" />
                <span asp-validation-for="Carbon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarbonToResidualsReduction" class="control-label"></label>
                <input asp-for="CarbonToResidualsReduction" class="form-control" />
                <span asp-validation-for="CarbonToResidualsReduction" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
