@model HBDP.Models.Input.Regime

<h4>Regime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Regime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StraightReduction" class="control-label"></label>
                <input asp-for="StraightReduction" class="form-control" />
                <span asp-validation-for="StraightReduction" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
