@model HBDP.Models.Output
@* Заменить 8 и 4 на 6 и 2 *@
@{
    ViewData["Title"] = "Вывод";
}

<h2>Вывод</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Output">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Приходная часть теплового баланса</h3>
            <h4>Теплоёмкость веществ при температуре дутья:</h4>
            <div class="form row">
                <div class="form-group col-sm-4">
                    <label asp-for="Income.O2_HeatCapacity" class="control-label">Кислород</label>
                    <input asp-for="Income.O2_HeatCapacity" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.N2_HeatCapacity" class="control-label">Азот</label>
                    <input asp-for="Income.N2_HeatCapacity" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.H2O_HeatCapacity" class="control-label">Вода</label>
                    <input asp-for="Income.H2O_HeatCapacity" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Income.CokeHeat" class="control-label">Количество тепла, получаемого от сгорания углерода кокса</label>
                    <input asp-for="Income.CokeHeat" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.CokeHeatPercent" class="control-label">%</label>
                    <input asp-for="Income.CokeHeatPercent" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Income.AirHeat" class="control-label">Количество тепла от дутья</label>
                    <input asp-for="Income.AirHeat" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.AirHeatPercent" class="control-label">%</label>
                    <input asp-for="Income.AirHeatPercent" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Income.GasHeat" class="control-label">Количество тепла от конверсии природного газа</label>
                    <input asp-for="Income.GasHeat" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.GasHeatPercent" class="control-label">%</label>
                    <input asp-for="Income.GasHeatPercent" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Income.SlagHeat" class="control-label">Количество тепла от шлакообразования</label>
                    <input asp-for="Income.SlagHeat" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.SlagHeatPercent" class="control-label">%</label>
                    <input asp-for="Income.SlagHeatPercent" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Income.Sum" class="control-label">Сумма приходных статей теплового баланса</label>
                    <input asp-for="Income.Sum" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Income.SumPercent" class="control-label">%</label>
                    <input asp-for="Income.SumPercent" class="form-control" readonly />
                </div>
            </div>
            <h3>Расходная часть теплового баланса</h3>
            <h4>Теплоёмкость веществ при температуре колошникового газа</h4>
            <div class="form row">
                <div class="form-group col-sm-2">
                    <label asp-for="Withdrawal.CO" class="control-label">CO</label>
                    <input asp-for="Withdrawal.CO" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Withdrawal.CO2" class="control-label">CO2</label>
                    <input asp-for="Withdrawal.CO2" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Withdrawal.H2" class="control-label">H2</label>
                    <input asp-for="Withdrawal.H2" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Withdrawal.H2O" class="control-label">H2O</label>
                    <input asp-for="Withdrawal.H2O" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Withdrawal.N2" class="control-label">N2</label>
                    <input asp-for="Withdrawal.N2" class="form-control" readonly />
                </div>
            </div>
            <h4>Расход тепла на:</h4>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.FeReduction" class="control-label">Прямое восстановление оксидов железа</label>
                    <input asp-for="Withdrawal.FeReduction" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.FeReductionPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.FeReductionPercent" class="form-control" readonly />
                </div>
            </div>
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.ResidualsReduction" class="control-label">Прямое восстановление примесей чугуна</label>
                    <input asp-for="Withdrawal.ResidualsReduction" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.ResidualsReductionPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.ResidualsReductionPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.Desulfuration" class="control-label">Процесс десульфурации чугуна</label>
                    <input asp-for="Withdrawal.Desulfuration" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.DesulfurationPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.DesulfurationPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.FeHydrogenicReduction" class="control-label">Восстановление оксидов железа водородом</label>
                    <input asp-for="Withdrawal.FeHydrogenicReduction" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.FeHydrogenicReductionPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.FeHydrogenicReductionPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.PigIronHeating" class="control-label">Нагрев жидкого чугуна</label>
                    <input asp-for="Withdrawal.PigIronHeating" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.PigIronHeatingPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.PigIronHeatingPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.SlagHeating" class="control-label">Нагрев жидкого шлака</label>
                    <input asp-for="Withdrawal.SlagHeating" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.SlagHeatingPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.SlagHeatingPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.AirDegrading" class="control-label">Разложение влаги дутья</label>
                    <input asp-for="Withdrawal.AirDegrading" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.AirDegradingPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.AirDegradingPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.LimestoneDegrading" class="control-label">Разложение известняка</label>
                    <input asp-for="Withdrawal.LimestoneDegrading" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.LimestoneDegradingPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.LimestoneDegradingPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.StockDegrading" class="control-label">Разложение влаги шихты</label>
                    <input asp-for="Withdrawal.StockDegrading" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.StockDegradingPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.StockDegradingPercent" class="form-control" readonly />
                </div>
            </div>

            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.TopGas" class="control-label">Тепло, уносимое колошниковым газом</label>
                    <input asp-for="Withdrawal.TopGas" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.TopGasPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.TopGasPercent" class="form-control" readonly />
                </div>
            </div>
            
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.Losses" class="control-label">Тепловые потери</label>
                    <input asp-for="Withdrawal.Losses" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.LossesPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.LossesPercent" class="form-control" readonly />
                </div>
            </div>
            
            <div class="form row">
                <div class="form-group col-sm-8">
                    <label asp-for="Withdrawal.Sum" class="control-label">Сумма расходных статей теплового баланса</label>
                    <input asp-for="Withdrawal.Sum" class="form-control" readonly />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Withdrawal.SumPercent" class="control-label">%</label>
                    <input asp-for="Withdrawal.SumPercent" class="form-control" readonly />
                </div>
            </div>
            
            <h3></h3>
            <div class="form-group">
                <label asp-for="Influence.Q" class="control-label"></label>
                <input asp-for="Influence.Q" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.QtoC" class="control-label"></label>
                <input asp-for="Influence.QtoC" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.CokeC" class="control-label"></label>
                <input asp-for="Influence.CokeC" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Rd.value" class="control-label"></label>
                <input asp-for="Influence.Rd.value" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Rd.economy" class="control-label"></label>
                <input asp-for="Influence.Rd.economy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Limestone.value" class="control-label"></label>
                <input asp-for="Influence.Limestone.value" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Limestone.coke" class="control-label"></label>
                <input asp-for="Influence.Limestone.coke" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Limestone.full" class="control-label"></label>
                <input asp-for="Influence.Limestone.full" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.AirBlasting.value" class="control-label"></label>
                <input asp-for="Influence.AirBlasting.value" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.AirBlasting.economy" class="control-label"></label>
                <input asp-for="Influence.AirBlasting.economy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Combined.value" class="control-label"></label>
                <input asp-for="Influence.Combined.value" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Combined.economy" class="control-label"></label>
                <input asp-for="Influence.Combined.economy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Dampness.value" class="control-label"></label>
                <input asp-for="Influence.Dampness.value" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.Dampness.economy" class="control-label"></label>
                <input asp-for="Influence.Dampness.economy" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.SlagProduction.heat" class="control-label"></label>
                <input asp-for="Influence.SlagProduction.heat" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.SlagProduction.coke" class="control-label"></label>
                <input asp-for="Influence.SlagProduction.coke" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.HeatLosses.heat" class="control-label"></label>
                <input asp-for="Influence.HeatLosses.heat" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Influence.HeatLosses.coke" class="control-label"></label>
                <input asp-for="Influence.HeatLosses.coke" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
